body{
    background-color: #111111
}

.hero{
    height: 53.3vh;
}

.fondo{
    background-image: url("../images/Fondotitulo.jpg");
}

.card{
    background-color: #89f23d;
}

.card-content{
    padding-top: 2.5rem !important;
}

.card-image figure img{
    height: 225px !important;
    width: 300px !important;
    border-radius: 100%;
}

.title{
    color: black;
}

.subtitle{
    color: #111111;
}

.info{
    color: red;
}

.button.is-info{
    background-color: transparent;
    border-color: #01B1C8;
    color: #01b1c9;
}

.input{
    background-color: transparent;
    border-color: #01B1C8;
    color: white;
}

.input::placeholder{
    color: #01B1C8;
}

.box{
    border-radius: 0;
    background-color: #00414d;
    border: 2px solid #68c839;
    border-radius: 30px;
}

.imageModal{
    border-radius: 33px;
}

.modal-content::-webkit-scrollbar {
    -webkit-appearance: none;
}

.modal-content::-webkit-scrollbar:vertical {
    width: 10px;
} 

.modal-content::-webkit-scrollbar-thumb {
    background-color: #01B1C8;
    border-radius: 20px;
}


.content ul li, .content p,.content p strong, .content h3{
    color: white;
}

@media(max-width: 500px){
    .hero{
        height: 21.3vh;
        background-size: contain;
        margin-bottom: 1.5rem !important;
    }

    .mb-6{
        margin-bottom: 1.5rem !important;
    }

    .container{
        width: 80%;
    }

    .input, .button.is-info{
        font-size: 0.85rem;
    }

    .card{
        width: 83%;
        margin: 0 auto;
    }
    
    .card-image figure img{
        margin: 0 auto;
        height: 260px !important;
        width: 325px !important;
    }

    .title{
        font-size: 1rem;
    }

    .subtitle{
        font-size: 0.75rem;
    }

    .modal-content{
        margin: 0 20px;
        max-height: calc(120vh - 160px);
        width: 90%;
    }

    .modal-close{
        right: 60px;
        top: 41px;
    }
}